{% extends 'home/base.html' %}

{% block content %} 
<center><h1>
    Platfrom Breakdown
</h1>
<br>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Developer</th>
            <th>Total Games</th>
            <th>Percentage</th>
        </tr>
        </thead>
    <tbody>
    {% for item in percentages %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.total_games }}</td> 
            <td>{{ item.percentage }} %</td>      
            </tr>
    {%endfor%}
    </tbody>
</table>
</center>

{% endblock %}