{% extends 'home/base.html' %}

{% block content %}
<body id = "analytics">
<center><h1>
    Developer Breakdown
</h1>
<h5> Top 15 Developers 
</h5> 
<br>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
            </style>
        <tr>
            <th>Developer</th>
            <th>Total Games</th>
            <th>Percentage</th>
        </tr>
        </thead>
    <tbody>
    {% for item in percentages %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.total_games }}</td> 
            <td>{{ item.percentage }} %</td>      
            </tr>
    {%endfor%}
    </tbody>
</table>

{% autoescape off %}
{{ pie_dev }}
{% endautoescape %}

</center>
</body>
{% endblock %}