{% extends 'home/base.html' %}

{% block content %}


<center>

{% load static %}
<!--<h1>Hello {{ name }}!</h1>-->
<style> 
    .navbar{
        display: none;
    }
</style>

<body id="homepage">
    <div class="container">
        <section id="slide-1" class="scrollsnap-section">
            <h1 class="animate__animated animate__fadeInDown" id="welcome">Welcome, Steamers! </h1>
            
            <form class="d-flex" id="home-search" method=POST action="{% url 'search-games' %}" autocomplete="off">
                {% csrf_token %}
                <input class="form-control me-2" id="search-bar" type="search" placeholder="Search in Games" aria-label="Search" name="searched">
                <button class="btn btn-outline-secondary" id="search-bar" type="submit">Search</button>
            </form>

            <a class="btn btn-light" href="{% url 'all-games' %}" role="button"><span>View All Games</span> </a>

        </section>
        <section id="slide-2" class="scrollsnap-section">
            <h1 id= "select">Customize Your Games.</h1>
            <a class="btn btn-light" href="{% url 'add-games' %}" role="button"><span>Add a Game</span> </a>
            <li class="btn btn-light nav-item dropdown" > <span>
                <a class="nav-link dropdown-toggle" href="#" id="homepage-drop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Analytics
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-choices">
                    <li><a class="btn btn-light dropdown-item" href="{% url 'most-playtime' %}">Highest Playtime</a></li>
                    <li><a class="btn btn-light dropdown-item" href="{% url 'highest-rating' %}">Highest Rated</a></li>
                    <li><a class="btn btn-light dropdown-item" href="{% url 'lowest-rating' %}">Lowest Rated</a></li>
                    <li><a class="btn btn-light dropdown-item" href="{% url 'popular-genre' %}">Popular Genres</a></li>
                    <li><a class="btn btn-light dropdown-item" href="{% url 'dev-breakdown' %}">Developer Breakdown</a></li>
                    <li><a class="btn btn-light dropdown-item" href="{% url 'platform-pie' %}">Platform Breakdown</a></li>
                    {% comment %} <li><a class="btn btn-light dropdown-item" href="{% url 'analytics' %}#most-playtime'">Highest Playtime</a></li>
                     <li><a class="dropdown-item" href="{% url 'analytics' %}#highest-rating">Highest Rated</a></li>
                    <!--<li><hr class="dropdown-divider"></li>-->
                    <li><a class="dropdown-item" href="{% url 'analytics' %}#lowest-rating">Lowest Rated</a></li>
                    <li><a class="dropdown-item" href="{% url 'analytics' %}#popular-genre">Popular Genres</a></li>
                    <li><a class="dropdown-item" href="{% url 'analytics' %}#dev-breakdown">Developer Breakdown</a></li>
                </ul> </span>  {% endcomment %}
                </ul>
            </li>
        </section>
    </div>
</body>

</center>

{% endblock %}
