{% extends 'home/base.html' %}

{% block content %}

<!-- {% autoescape off %}
{{ plot_div }}
{% endautoescape %} -->
<body id="analytics">
<center><h1>Top 10 Games with the Lowest Rating</h1></center>
<table class ="table table-bordered">
    <thead>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
            </style>
        <tr>
            <th>Game Title</th>
            <th>Number of Negative Ratings</th>
        </tr>
        </thead>
    <tbody>
    {% for item in badRatings %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.neg_rate }}</td>      
            </tr>
    {%endfor%}
    </tbody>
</table>
</body>
{% endblock %}
