{% extends 'home/base.html' %}

{% block content %}

<center>
    <h1>Top 10 Games with the Highest Playtime</h1>
    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}
</center>

<!-- <center><h1>Top 10 Games with the Highest Playtime</h1></center>
<table class ="table table-bordered">
    <thead>
        <tr>
            <th>Game Title</th>
            <th>Average Playtime</th>
        </tr>
        </thead>
    <tbody>
    {% for item in playtimes %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.avg_playtime }}</td>      
            </tr>
    {%endfor%}
    </tbody>
</table> -->

{% endblock %}