{% extends 'home/base.html' %}

{% block content %}

<center>
    <h1>My Wishlist</h1>
</center>
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Developer</th>
        <th>Publisher</th>
        <th>Price</th>
        <th>👷‍♀️</th>
      </tr>
    </thead>
    <tbody>
      {% for item in games %}
        <tr>
          <td>{{ item.title }}</td>
          <td>{{ item.dev }}</td>
          <td>{{item.publisher}}</td>
          {% if item.price != "0.0" %}
            <td>${{ item.price }}</td>
          {% else %}
            <td>Free</td>
          {% endif %}
          <td> <!-- Button trigger modal -->
            <a href="{% url 'update-game' item.gameid %}" class="btn btn-secondary">Update</a>

                  </div>
                    <a href="{% url 'delete-wishlist' item.gameid %}" class="btn btn-danger">Remove from Wishlist</a>
                    <!--<div class="alert alert-warning" id="deletedMessage" role="alert">
                      A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
        </td>
        {% endfor%}
    </tbody>
</table>

{% endblock %}

