/* h1 {
    animation-duration: 1s;
    animation-name: fadeInDown;
}

@keyframes slidein {
from {
    margin-left: 100%;
    width: 300%;
}

to {
    margin-left: 0%;
    width: 100%;
}
} */

/* .navbar{
    visibility: hidden;
} */

#welcome {
    text-align: center;
    font-size: 5vw;
    padding: 100px 100px 50px 100px;
    /* position: fixed */
}


#homepage {
    overflow-y: hidden;
    background-image: url("mtns.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#select {
    text-align: center;
    font-size: 5vw;
    padding: 70px;
}

#homepage-drop {
  padding:0px;
  color: black;
}

.container {
    overflow: none;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory; /* for older browsers */
    scroll-snap-points-y: repeat(100vh); /* for older browsers */
    scroll-snap-type: y mandatory;
  }
  .scrollsnap-section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
  }

.btn-light {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 15px;    

}

.btn-light span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-light span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-light:hover span {
    padding-right: 25px;
  }
  
  .btn-light:hover span:after {
    opacity: 1;
    right: 0;
  }

#home-search {
    justify-content: center;
    width: 500px;
    height: 70px;
    padding-bottom: 25px;
}

#search-bar {
    border-radius: 15px;    
}

#dropdown-choices {
  border-radius: 10px;   
  overflow: hidden;
  transition: all .5s ease; 
}

#dropdown-choices.folded {
  max-height: 0;
}

#dropdown-choices.unfolded {
  max-height: 100px;
}
